asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
cryptography==41.0.7
Django==4.2.7
django-jazzmin==2.6.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
Pillow==10.1.0
pycparser==2.21
PyJWT==2.8.0
pyotp==2.9.0
pytz==2023.3.post1
reportlab==4.0.7
sqlparse==0.4.4
